<div class="container">
  <div class="card">
    <app-switch
      [(ngModel)]="switchState"
      (ngModelChange)="handleChange()"
    ></app-switch>
    <p>{{ switchState }}</p>
  </div>

  <form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Angular Forms</h1>

    <div class="form-control">
      <label>Email</label>
      <input type="email" placeholder="Email" formControlName="email">
      <div
        class="validation"
        *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
      >
        <small *ngIf="form.controls['email'].hasError('required')">Email field can't be empty</small>
        <small *ngIf="form.controls['email'].hasError('email')">Enter correct email</small>
        <small *ngIf="form.controls['email'].hasError('restrictedEmail')">This email {{ form.controls['email'].value }} already use</small>
<!--        <small *ngIf="form.controls['email'].hasError('uniqEmail')">This email {{ form.controls['email'].value }} isn't uniq</small>-->
      </div>
    </div>

    <div class="form-control">
      <label>Пароль</label>
      <input type="password" placeholder="Пароль" formControlName="password">
      <div
        class="validation"
        *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
      >
        <small *ngIf="form.controls['password'].hasError('required')">This field can't be empty</small>
        <small *ngIf="form.controls['password'].hasError('minlength')">
          Minimum required length: {{ form.controls['password'].errors?.['minlength']?.['requiredLength'] }}
          Actual length: {{ form.controls['password'].errors?.['minlength']?.['actualLength'] }}
        </small>
      </div>
    </div>

    <div class="card" formGroupName="address">
      <h2>Адрес</h2>

      <div class="form-control">
        <label>Страна</label>

        <select formControlName="country">
          <option value="ru">Россия</option>
          <option value="ua">Украина</option>
          <option value="by">Беларусь</option>
        </select>
      </div>

      <div class="form-control">
        <input type="text" formControlName="city" placeholder="City...">
      </div>

      <button class="btn" type="button" (click)="setCapital()">Выбрать столицу</button>
    </div>

    <div class="card" formGroupName="skills">
      <h2>Ваши навыки</h2>
      <button class="btn" type="button" (click)="addSkills()">Добавить умение</button>
      <div class="form-control" *ngFor="let control of getControls(); let index = index">
        <label>Skill {{ index + 1 }}</label>
        <input type="text" [formControlName]="index">
      </div>
    </div>

    <button class="btn" type="submit" [disabled]="form.invalid || form.pending">Отправить</button>

  </form>
</div>



